@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 62.5%;
    box-sizing: border-box;
    color: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}