<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/waterBank/home.css">
</head>
<body>
    <div id="container">
        <div id="nav">
            <div id="nav_contents_box">
                <a href="/waterBank/">
                    <img id="logo" src="../img/logo.png">
                </a>
                <div id="nav-contents">
                    <div id="menu">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Order</a></li>
                            <li><a href="#">My Page</a></li>
                        </ul>
                    </div>
                    <div class="sign">
                        <a href="#" id="in"><button >sign in</button></a>
                        <a href="#" id="up"><button >sign up</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="first_section_background">
                <section id="main_desc">
                    <div id="desc">
                        <h1>
                            Pay one time!
                        </h1>
                        <p>
                            한번의 결제로 원하는 때 언제나 </br>
                            간편하게 생수 배달을 시작해보세요!
                        </p>
                        <div id="main_button">
                            <a href="#" id="order_btn">Order</a>
                            <a href="#" id="reg_btn">Register</a>
                        </div>
                    </div>
                </section>
                <section id="order_desc">

                </section>
            </div>
        </div>
    </div>
</body>
</html>